.required-class {
	border: 1px solid red;
}

.required-class[type="radio"]:before {
	font-size: 1em;content: '*';color: red;
}
/*
[type="radio"] {
	display: inline-block;
	vertical-align: text-top;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: #ffffff;
	box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.3);

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

[type="radio"]:checked {
	box-shadow: inset 0 0 0 4px #337ab7;
}
*/